<!DOCTYPE html>
<html ng-app="chocolatecloud-objectstorage-browser" ng-controller="MainController">
<head>
    <title>ObjectStorage browser | Chocolate Cloud</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style/style.css"/>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<section id="mainSection" ng-class="{'narrow': isNarrow}">

    <h2>BUCKETS &#8212;

        <span class="dropdown">
            <span id="selectedBucket" ng-bind="buckets[0].name"></span>

            <i id="bucketsDropdown"
               class="glyphicon glyphicon-chevron-down"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
            ></i>

            <ul class="dropdown-menu">
                <li ng-repeat="bucket in buckets"><a href="#" ng-bind="bucket.name"></a></li>

                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-plus"></i> Add new bucket</a></li>
            </ul>
        </span>

        <span>
            <img ng-repeat="location in bucketData.locations | removeDeleted"  ng-src="{{getLocationLogo(location.id)}}" width="20" height="20" style="margin-left: 3px;margin-right: 3px"/>
        </span>

    </h2>



    <table id="dataTable">
        <thead>
            <tr>
                <td>Key</td>
                <td>Locations</td>
                <td>Protection</td>
                <td>Cached attributes</td>
                <td>Binary data</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="object in bucketContents" >
                <td ng-click="loadObjectDetails(object)" ng-bind="object.key"></td>
                <td>
                    <div class="locations">
                        <img ng-repeat="locationId in object.locationIds" ng-src="{{getLocationLogo(locationId)}}" width="30" height="30"/>
                    </div>
                </td>
                <td>
                    <img ng-repeat="idx in range(object.protection)" src="static/img/protection_active.png" style="margin-right: 3px;" />
                </td>
                <td ng-bind-html="object.cachedAttributes | dataTable"></td>
                <td>
                    <i class="glyphicon glyphicon-file" ng-style="{'color': object.codingSettingsTag === undefined ? '#ababab' : '#8c633a', 'font-size': '30px'}" />
                </td>
            </tr>
        </tbody>
    </table>
</section>


<section id="detailsSection" ng-class="{'narrow': isNarrow}">

    <div ng-repeat="version in selectedObjectVersions | reverseIfNeeded : versionsExpanded" class="objectDetails shadow" ng-style="{ position:  ($last || versionsExpanded) ? 'relative' : 'absolute', 'margin-top': versionsExpanded ? '10px' : ((selectedObjectVersions.length - 1 - $index) * -10)+'px', 'margin-bottom': versionsExpanded ? '10px' : '0px', 'margin-right': (versionsExpanded || $last) ? '0px' : (50 - 10*((selectedObjectVersions.length - 1 - $index)) )+'px'}">
        <i class="closeBtn glyphicon glyphicon-remove" ng-click="closeDetails()"></i>
        <h2>{{selectedObjectKey}}
            <div class="hash">
                {{version.versionHash}}
                <span ng-if="selectedObjectVersions.length > 1 && !versionsExpanded"  ng-click="toggleVersions()" style="cursor:pointer;" title="Show all versions"><img src="static/img/ic_action_history.png"/>x{{selectedObjectVersions.length}}</span>
                <span ng-if="versionsExpanded"><img src="static/img/ic_collapse.png" ng-click="toggleVersions()" style="cursor:pointer;float:right" title="Collapse versions"/></span>
            </div>
        </h2>
        <div>
            <span><span style="color: #ababab;">Version created at </span>{{version.versionCreated*10 | timestamp}}</span>
        </div>

        <div class="locations">
            <img ng-repeat="locationId in version.locationsIds" ng-mouseover="selectLocation(locationId, version)" ng-mouseleave="clearSelectedLocation()" ng-src="{{getLocationLogo(locationId)}}" width="30" height="30"/>
        </div>
        <div style="height: 2em">{{hoveredLocation}}</div>
        <div ng-bind-html="version.attributes | dataTable"></div>
    </div>


</section>

<!--
<div id="menuBtn" class="shadow"><i class="glyphicon glyphicon-menu-hamburger"></i> </div>
-->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
<script src="static/js/filters.js"></script>
<script src="static/js/app.js"></script>

<script src="//code.jquery.com/jquery-2.1.4.min.js" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>

