
<section id="mainSection" ng-class="{'narrow': isNarrow}" style="background: white url('static/img/CC-ObjectStorage-Logo.png') no-repeat bottom right; overflow-y: overlay">
<!--
    <div id="storagesList">
        <div>
            <img ng-repeat="account in accounts" ng-mouseover="hoverAccount(account)" ng-mouseover="hoverAccount(account)" ng-mouseleave="hoverAccount(null)"  ng-src="static/img/clouds/{{account.provider}}.png" width="30" height="30" style="margin-right:2px; margin-left: 2px; cursor: help"/>
        </div>
        <div id="storageHint" ng-bind="hoveredAccount.hint"></div>
    </div>
-->
    <div ng-if="!showBucketContents" ng-style="{'display': 'block'}" >
        <h2>
            BUCKETS
            <span ng-click="loadBuckets()">
                <i ng-if="!loading" class="glyphicon glyphicon-refresh" style="display:inline-block;position: relative;top:50%;font-size: 20px;color: #ababab;vertical-align: middle;cursor:pointer"></i>
                <span ng-if="loading" class="loader"><span class="loader-inner"></span></span>
            </span>
        </h2>

        <div id="bucketsGrid">

            <div ng-repeat="bucket in buckets" class="bucketBox" ng-mouseenter="hoverBucketStart(bucket)" ng-mouseleave="hoverBucketEnd(bucket)" ng-class="{'expanded': bucket.showDetails === true}" ng-click="navigateTo('bucket/'+bucket.key)" >
                <div class="bucketBoxInner">
                    <h3>{{bucket.key | uppercase}}</h3>
                    <span>created {{bucket.created | elapsed}}</span>
                    <div style="width: 204px">
                        <img ng-repeat="location in bucket.accounts" ng-src="static/img/clouds/{{location.provider}}.png" width="30" height="30" style="margin-right:2px; margin-left: 2px" title="{{location.hint}}"/>
                    </div>

                    <div ng-show="bucket.showDetails === true" style="text-align: left; margin-top: 1em">
                        <table class="bucketSettingsTable">
                            <tr>
                                <th>Default protection:</th>
                                <td>{{bucket.settings.protection}}</td>
                            </tr>
                            <tr>
                                <th>Versioning:</th>
                                <td>
                                    {{bucket.settings.versioning ? 'on' : 'off'}}
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: top" ng-attr-colspan="{{bucket.settings.cachedKeys.length == 0 ? 1 : 2}}">Cached keys:</th>
                                <td ng-if="bucket.settings.cachedKeys.length == 0">-</td>
                            </tr>
                            <tr ng-if="bucket.settings.cachedKeys.length > 0">
                                <td colspan="2" class="cachedKeys">
                                    <span ng-repeat="key in bucket.settings.cachedKeys" class="cachedKey" ng-bind="key"></span>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <!-- Add new bucket btn -->
            <div class="bucketBox" style="height: auto">
                <div class="bucketBoxInner">
                    <div>
                        <i class="glyphicon glyphicon-plus" style="font-size: 50px; vertical-align: middle; color: rgba(140,98,57,.4)"></i>
                    </div>
                    <p style="font-weight: bold; color: rgba(140,98,57,.4); font-size: 28px; margin-top: 10px; text-align: center; ">Add new bucket</p>
                </div>
            </div>

            <div style="clear:both"></div>

        </div>

    </div>

</section>


<section id="detailsSection" class="narrow">


</section>