
<section id="mainSection" ng-class="{'narrow': isNarrow}">

    <div id="storagesList">
        <div>
            <img ng-repeat="account in accounts" ng-mouseover="hoverAccount(account)" ng-mouseover="hoverAccount(account)" ng-mouseleave="hoverAccount(null)"  ng-src="static/img/clouds/{{account.provider}}.png" width="30" height="30" style="margin-right:2px; margin-left: 2px; cursor: help"/>
        </div>
        <div id="storageHint" ng-bind="hoveredAccount.hint"></div>
    </div>

    <div id="bucketContents" ng-style="{'display': 'block'}">

        <h2><span ng-click="navigateTo('')" id="backBtn">BUCKETS</span> &#8212;

        <span class="dropdown">
            <span id="selectedBucket" style="text-transform: uppercase;font-weight: bold" ng-bind="bucketKey"></span>

            <i id="bucketsDropdown"
               class="glyphicon glyphicon-chevron-down"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
            ></i>

            <ul class="dropdown-menu">
                <li ng-repeat="bucket in buckets"><a ng-href="#/bucket/{{bucket.key}}">{{bucket.key}} <img ng-repeat="location in bucket.locations" ng-src="static/img/clouds/thumb/{{location.provider}}.png" style="margin-right:2px; margin-left: 2px"/></a></li>
            </ul>
        </span>

        <span>
            <img ng-repeat="location in bucketData.locations | removeDeleted"  ng-src="{{getLocationLogo(location.id)}}" width="20" height="20" style="margin-left: 3px;margin-right: 3px"/>
        </span>

        </h2>



        <table id="dataTable">
            <thead>
            <tr>
                <td>Key</td>
                <td>Locations</td>
                <td>Protection</td>
                <td>Cached attributes</td>
                <td>Binary data</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="object in bucketContents" >
                <td ng-click="loadObjectDetails(object)" ng-bind="object.key"></td>
                <td>
                    <div class="locations">
                        <img ng-repeat="locationId in object.locationIds" ng-src="{{getLocationLogo(locationId)}}" title="{{getLocationHint(locationId)}}" width="25" height="25"/>
                    </div>
                </td>
                <td>
                    <img ng-repeat="idx in range(object.protection)" src="static/img/protection_active.png" width="25" height="25" style="margin-right: 3px;" />
                </td>
                <td ng-bind-html="object.cachedAttributes | dataTable"></td>
                <td style="text-align: center;">
                    <i class="glyphicon" ng-class="{'glyphicon-ban-circle': object.dataSize == 0, 'glyphicon-file': object.dataSize > 0}" ng-style="{'color': object.dataSize == 0 ? '#ababab' : 'rgb(140, 99, 58)', 'font-size': object.dataSize == 0 ? '25px' : '30px'}"></i>
                    <div style="font-size: 13px;color: #ababab" ng-if="object.dataSize >0">{{object.dataSize | fileSize}}</div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


</section>


<section id="detailsSection" ng-class="{'allVersionsVisible': versionsExpanded, 'narrowDetails': isNarrowDetails}">

    <div
        ng-repeat="version in selectedObjectVersions | reverseIfNeeded : versionsExpanded"
        class="objectVersionCard"
        ng-style="{ position:  ($last || versionsExpanded) ? 'relative' : 'absolute', 'margin-top': versionsExpanded ? '10px' : ((selectedObjectVersions.length - 1 - $index) * -10)+'px', 'margin-bottom': versionsExpanded ? '10px' : '0px', 'margin-right': (versionsExpanded || $last) ? '0px' : (50 - 10*((selectedObjectVersions.length - 1 - $index)) )+'px'}"
    >
        <i class="closeBtn glyphicon glyphicon-remove" ng-click="closeDetails()"></i>
        <h2>{{selectedObjectKey}}
            <div class="hash">
                {{version.versionHash}}
                <span ng-if="selectedObjectVersions.length > 1 && !versionsExpanded"  ng-click="toggleVersions()" style="cursor:pointer;" title="Show all versions"><img src="static/img/ic_action_history.png"/>x{{selectedObjectVersions.length}} <i class="glyphicon glyphicon-fullscreen" ng-click="toggleVersions()" style="cursor:pointer;float:right;color:#ababab; font-size: 20px;" title="Expand versions"></i></span>
                <span ng-if="versionsExpanded"><img src="static/img/ic_collapse.png" ng-click="toggleVersions()" style="cursor:pointer;float:right" title="Collapse versions"/></span>
            </div>
        </h2>
        <div>
            <span><span style="color: #ababab;">Version created at </span>{{version.versionCreated*10 | timestamp}}</span>
        </div>

        <div class="locations">
            <img ng-repeat="locationId in version.locationsIds" ng-src="{{getLocationLogo(locationId)}}" width="30" height="30"/>
        </div>
        <div ng-bind-html="version.attributes | dataTable"></div>
    </div>


</section>