html, body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    font-family: Signika, serif;
    font-size: 16px;
}


body{
    background: #eeeeee url('../img/cubes_bg_brown.png') fixed;
}


#mainSection{
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 300px);
    height: 100%;
    background: white;
    padding: 20px;
    /*transition: width .3s cubic-bezier(0,0,.29,1.51);*/
    transition: width .3s ease-out;
}
#mainSection::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}

#mainSection:hover::-webkit-scrollbar-thumb {
    background: rgba(140,99,58,.5);
}

#mainSection h2{
    text-align: left;
}

#mainSection.narrow{
    width: calc(100% - 500px);
}

#detailsSection{

    float: right;
    min-height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*resize: vertical;*/
    overflow-y: auto;
    overflow-x: hidden;
    transition: width .2s  ease-out;
    transition-delay: 0s;
}

#detailsSection.narrowDetails{
    width: 500px;
}

.objectVersionCard{
    position: relative;
    right: -400px;

    width: 400px;
    background: white;
    padding: 20px 30px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    transition: all .2s  ease-out;
    transition-delay: 0s;
}

/* pull it in when needed */
#detailsSection.narrowDetails .objectVersionCard{
    right: 0px;
}

/* 'elevate' hovered card when versions are expanded */
#detailsSection.allVersionsVisible .objectVersionCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    top: -1px;
    opacity: 1;
}

#detailsSection.allVersionsVisible .objectVersionCard{
    opacity: .85;
}

.objectVersionCard .closeBtn{
    float: right;
    top: -15px;
    color: #ABABAB;
    font-size: 13px;
    padding: 10px;
    right: -25px;
    cursor: pointer;
}

#backBtn:hover{
    cursor: pointer;
    text-decoration: underline;
}

#menuBtn{
    position: fixed;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: #eeeeee;
    text-align: center;
    cursor: pointer;
}
#menuBtn i{
    vertical-align: middle;
    font-size: 21px;
    margin-top: 14px;
    color: #929292;

}

#menuBtn:hover{
    -webkit-box-shadow: 0 0 4px 1px #aeaeae;
    box-shadow: 0 0 4px 1px #AEAEAE;
}

#bucketsDropdown{
    font-size: 8pt;
    color:#929292;
    top: -5px;
    left: -5px;
    padding: 5px;
    cursor: pointer;
}

div.title{
    font-size: 20pt;
    font-weight: bold;
}

#dataTable{
    width: 80%;
    margin: 0px auto;
}
#dataTable tr{
    border-bottom: 1px solid #E8E8E8;
}
#dataTable thead td{
    font-weight: normal;
    color: #ababab;
}
#dataTable tbody td:first-child{
    font-weight: bold;
    cursor: pointer;
}

#dataTable tbody img,
#dataTable tbody i.glyphicon{
    opacity: .6;
    transition: opacity .3s linear;
}

#dataTable tbody tr:hover img,
#dataTable tbody tr:hover i.glyphicon{
    opacity: 1;
}

#dataTable td{
    padding: 10px
}

.hash{
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    color: #ababab;
}
.locations img{
    margin: 3px;
    opacity: .6;
    transition: opacity .3s linear;
}

.locations img:hover{
    opacity: 1;
}

#detailsSection.allVersionsVisible span.highlight{
    background-color: rgba(140,99,58,0.16);
    padding-left: 2px;
    padding-right: 2px;
    cursor: help;
}

#bucketsGrid{
    width: 100%;

}

#bucketContents{
    display:none
}

.bucketBox{
    background: url('../img/cubes_bg_brown.png');
    margin: 10px 20px;
    display: block;
    float: left;
    width: 300px;
    cursor: pointer;
    /*height: 226px;*/
    transition: all .2s ease-out;
    text-align: center;
}
.bucketBox:nth-child(4n+1){
    /*clear:both;*/
}

.bucketBox.expanded{
    /*width: auto;*/
    /*height: 330px;*/
}
.bucketBoxInner{
    display: inline-block;

    margin:8px;
    padding: 50px 40px;

    background: white;
    opacity: .8;
    border-radius: 3px;

    text-align: center;
    transition: all .2s ease-out;
    /*height: calc(100% - 16px); /* 100% - 2*margin */
}


.bucketBox:hover .bucketBoxInner{
    padding: 46px 36px;
    margin: 12px;
    opacity: 1;
    /*height: calc(100% - 24px); /* 100% - 2*margin */
}

.bucketBoxInner h3:first-child{
    height: 2em;
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}

.bucketBox img{opacity: .4}
.bucketBox:hover img{opacity: 1}
.bucketBox h3{
    margin-top: 0px;
}

.bucketSettingsTable th{
    width: 150px
}

#storagesList{
    float:right;
    margin: 10px;
}
#storageHint{
    height: 1em
}

.bucketSettingsTable .cachedKeys{
    line-height: 2em;
    height: 34px;
}

.bucketSettingsTable .cachedKey{
    font-family: "Source Code Pro", monospace;
    padding: 2px 4px;
    margin: 2px 4px;

    border-radius: 2px;
    background: rgba(140,99,58,0.16);
    /*border: 1px solid rgba(140,99,58,0.36);*/
    font-size: 13px;
    font-weight:bold;
    color: #666;
}






.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    border: 4px solid rgba(140,98,57,.4);
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgba(140,98,57,.4);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}